[2015-01-07 19:12] mhildreth-fiksu opened #8 "Knapsack misses tests due to different glob result ordering"
We have been using Knapsack to split RSpec on our builds on Travis, and have experienced an issue where some leftover specs would not be run on any of the jobs of a single build. Here is an example of the issue that we are having.

Assume we have the following specs:

* spec/a.rb
* spec/b.rb
* spec/c.rb
* spec/d.rb
* spec/e.rb

When running, we might get something like the following on run one...

[2015-01-08 00:21] ArturT commented on #8
@mhildreth-fiksu Hi, Thanks for reporting issue. I did fix with sort https://github.com/ArturT/knapsack/commit/54304cb3159ad87548e4a5af9be508acce960d4a

Could you try use gem via github?
[code]

Let me know if it helped. I will release a new gem version tomorrow then.

[2015-01-08 01:18] mhildreth-fiksu commented on #8
Just tried this out. The new version worked as expected.

Thanks for the quick response!

[2015-01-09 12:50] ArturT commented on #8
@mhildreth-fiksu FYI I've just released a new gem version. Thanks for help!

[2015-01-09 12:50] #8 closed

[2015-01-13 22:33] JeanMertz opened #9 "wrong timing recordings"
Whenever we run our cukes (roughly 3 minutes to run), we get this (anonymized) output in Travis:

[code]

While some of those features take a while longer, they don't take *that* much longer, and also the "global time execution" reported by Knapsack is a long way off compared to the real Travis run.

[2015-01-13 22:53] ArturT commented on #9
This output is generated only when you set KNAPSACK_GENERATE_REPORT=true.

The KNAPSACK_GENERATE_REPORT variable should be set only when you want to generate report for the first time (or when you want to regenerate report, see https://github.com/ArturT/knapsack#adding-or-removing-tests ) which should be stored in file `knapsack_cucumber_report.json` and commited into repository.
You want to gener

[2015-01-14 05:56] JeanMertz commented on #9
@ArturT I am aware of all the points you raised. Maybe I didn't express my problem clear enough.

I did exactly as described in the README. I first ran the test suite on Travis *with* `KNAPSACK_GENERATE_REPORT=true`, this resulted in the above output.

Now, because of the skewed output (extreme high numbers for some feature files and a weird "global time execution" number (11+ hours?!)), the tests

[2015-01-14 08:07] ArturT commented on #9
Oh, I see. It looks like a few test files have too long time execution:
[code]
I'm curious how tests look like in those files. For now cucumber adapter covers regular scenario an scenario outlines https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/cucumber_adapter.rb#L7
Probably I missed something and tests are measured in a wrong way. It would be nice if you could share code of

[2015-01-15 20:04] ArturT commented on #9
@JeanMertz Let me know how is going. It would be nice if we could somehow figure out what's the reason of such big time execution.

[2015-02-02 22:01] ArturT commented on #9
@JeanMertz Hi, did you figure out how to solve the problem? Can I somehow help?

[2015-02-03 07:07] mattpickle opened #10 "Support for parallel_tests gem?"
Would Knapsack work with CircleCI & parallel_tests gem?

[2015-02-03 08:53] ArturT commented on #10
It should work but I didn't try it yet. You need to set proper values for `CI_NODE_TOTAL` and `CI_NODE_INDEX`.

I see that parallel_tests has `TEST_ENV_NUMBER` but it starts from 1 so you need to assign it in a way like this:
[code]

We can use execute option:
[code]

@mattpickle Let me know if that works for you. :)

[2015-02-08 20:14] tmorris-fiksu opened #11 "Teach Knapsack about Timecop?"
One of our longest specs has this line:
  before(:all) do
    Timecop.freeze(Time.new(2014, 6, 10, 11, 11, 11))
    ...
  end

However, Knapsack them believes that the entire file takes 0 seconds to run.

Would it make sense (and be relatively easy?) for Knapsack to simply bypass Timecop completely when computing metrics?  i.e. maybe shell out to the system to get the "real" time, regardless of th

[2015-02-09 00:13] ArturT commented on #11
That's interesting case. I will try to look at the issue this week. For now maybe this will help, here is the start and stop timer:
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/tracker.rb#L22
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/tracker.rb#L26

If you could solve the problem somehow I would be happy to see a pull request.

[2015-02-09 00:18] ArturT commented on #9
@JeanMertz There is probably another reason of this bug, maybe those specs use Timecop gem? Could you check that? Thanks. https://github.com/ArturT/knapsack/issues/11

[2015-02-09 02:08] tmorris-fiksu commented on #11
Well, this isn't quite ready for a PR, as it breaks your specs that rely on Timecop!
This did seem to work for my project:
https://github.com/tmorris-fiksu/knapsack/commit/1f461311b99fc713f7e586120340fcaddabe5748
Feel free to use it for motivation or a starting point for a complete patch.

[2015-02-09 02:13] ArturT commented on #11
Cool. I will take a look.

[2015-02-09 21:16] ArturT commented on #11
I released a new gem version. Check it out! :) Thanks for reporting this issue.

[2015-02-09 21:16] #11 closed

[2015-02-09 21:19] ArturT commented on #9
I fixed the issue #11 which probably is the reason of the bug you experienced. Please check new gem version. I'm closing this issue.

[2015-02-09 21:19] #9 closed

[2015-02-21 18:39] #10 closed

[2015-04-13 22:26] 3zcurdia opened #14 "Minitest Adapter"
This gem looks awesome and solve the problem of balancing tests but on our project we only run tests with minitest. I will be possible to get a minitest adapter?

[2015-04-13 22:38] ArturT commented on #14
@3zcurdia Would be great to have it if you could create a pull request. It should be easy to add new adapter if you know minitest well. Here are current adapters:
https://github.com/ArturT/knapsack/tree/master/lib/knapsack/adapters

Let me know if you can help with that.

[2015-04-14 03:17] 3zcurdia commented on #14
I am happy to help, but right now I found that is more complex than I imagined, let me explain what I found and maybe you could provide some feedback. I found in the adapters that the methods to call on knapsack are encapsulated inside of after/before config blocks for RSpec or similar on Cucumber, unfortunately on minitest doesn't have a this config blocks, on minitest you could do that overridin

[2015-04-14 07:25] ArturT commented on #14
You can use `before()` and `after()` and use `::Kernel.at_exit` to execute something after all test suite, similar as here
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/cucumber_adapter.rb#L15

Here is article I found:
http://stackoverflow.com/a/5883960/905697

Knapsack adapter doesn't require before test suite block.

Let me know if you need more tips. Thanks for help!

[2015-04-16 01:51] brodock opened #15 "Generate multiple reports and aggregate them"
I would like to start coding and contribute to the project the mentioned feature.
Take this scenarios as example:

Having 5 parallel CI containers running the same commit at first time, I would expect that every container generates execution for the files they are executing, and store in a specific folder, that will be aggregated at the end of the proccess.

At the next execution, instead of loadi

[2015-04-16 07:19] ArturT commented on #15
You assume you will keep cached reports on CI without committing them into repository?

Would you like to add to the report's file name the commit hash (and maybe branch name and CI node index) so you can identify which report you can use next time. Or just use proper directory structure.

`"... that will be aggregated at the end of the proccess."`
Your CI servers have common cache space where you

[2015-04-16 17:42] ArturT commented on #14
@3zcurdia Let me know if you can work on this. If not I will try to do something during the weekend.

[2015-04-18 01:44] 3zcurdia commented on #14
So far I tried but the before block or setup method is still my main blocker, maybe you could find a better solution, I will keep digging and see what I could find, also I noticed that the adapters could be separated gems to avoid install unnecessary dependencies

[2015-04-18 08:40] ArturT commented on #14
I will look on that today and let you know.

Regarding adapters as separate gems, might be a good idea but for now I think it would be inconvenient for user. Right now knapsack doesn't require rspec or cucumber as dependency.

[2015-04-18 21:05] ArturT commented on #14
I checked source of minitest and found this https://github.com/seattlerb/minitest/blob/master/lib/minitest/test.rb#L129-160

I created pull request https://github.com/ArturT/knapsack/pull/16 with code I did so far and added TODO list there.
I will try to do more maybe during next week or weekend.

For now I stuck with getting test file path for current running test. If you want to play with code I

[2015-04-19 21:36] ArturT commented on #14
I figured out how to get test file path but will have to improve it a bit. I will keep up to date list of done things in pull request https://github.com/ArturT/knapsack/pull/16

BTW Do you have test files with the same test class name in one test suite? For now it bothers me because I'm getting test file path by search file having the same name as test class.

[2015-04-20 23:09] 3zcurdia commented on #14
Here my answers:

* Yes I run `rake test` but for parallel test on circle I used `ruby -I.:test -e "ARGV.each{|f| require f }" ${files[@]}`
* Yes I use `test_helper.rb` is very convenient to config different gems like capybara
* Particular I use rspec syntax so class names does not matter and I could split tests without repeating class names, I never had to use the unit test syntax.

[2015-04-21 06:57] ArturT commented on #14
@3zcurdia Thanks for answers. I didn't test rspec syntax yet but you can do it.
You can find here info how to add minitest:
https://github.com/ArturT/knapsack/tree/minitest-adapter
Please check if command `$ KNAPSACK_GENERATE_REPORT=true bundle exec rake test` works for you. I will have to find open source project with minitest rspec syntax to test knapsack.

[2015-04-22 23:12] 3zcurdia commented on #14
I ran the tests and well it didnt make it trought got an nil on test_path on line https://github.com/ArturT/knapsack/blob/minitest-adapter/lib/knapsack/adapters/minitest_adapter.rb#L63 here is the trace

    NoMethodError: NoMethodError: undefined method `gsub' for nil:NilClass
    ~/.rvm/gems/ruby-2.2.2/bundler/gems/knapsack-5aa3fedf8130/lib/knapsack/adapters/minitest_adapter.rb:63:in `test_path'

[2015-04-28 22:03] ArturT commented on #14
@3zcurdia I changed the way how I get test file path. Could you check now if you can generate report for your test suite?

[2015-05-01 21:07] ArturT commented on #14
@3zcurdia Good news, I've finished work on minitest adapter and it works on my test project https://github.com/KnapsackPro/rails-app-with-knapsack but would be great to have feedback from you.

I updated readme on branch https://github.com/ArturT/knapsack/tree/minitest-adapter with info how to set up minitest.
You can check code changes in pull request https://github.com/ArturT/knapsack/pull/16

P

[2015-05-03 20:21] ArturT commented on #14
@3zcurdia I released knapsack v1.2.0 with minitest support. I'm closing this issue but please let me know if it works for you or if you find any bug please create a new issue. :) Hope this release will help you with your work. :)

[2015-05-03 20:21] #14 closed

[2015-05-07 20:51] 3zcurdia commented on #14
I tested and it worked on circle-ci really nice! thanks!

[2015-05-07 21:02] ArturT commented on #14
@3zcurdia So cool! BTW Check it out http://knapsack.launchrock.com I'm working on it and will let you know about beta release.

[2015-07-01 22:31] greggroth opened #18 "Compatibility with Turnip Features"
I have a test suite that is a mixture of spec files in `spec/**/*_spec.rb` and Turnip features in `spec/**/*.feature`.  I'm trying to generate the report on TravisCI and with the pattern `spec/**/*{_spec.rb,.feature}` it correctly runs all of the specs and turnip features; however the generated report doesn't include any of the features.  I've looked through the source of this project and didn't s

[2015-07-01 22:51] ArturT commented on #18
@greggroth Hi, I've just did quick test and pattern works in case when `.feature` file has rspec tests.

I guess your `.feature` file has cucumber test inside so in that case you need to generate a separate report for cucumber tests and use cucumber adapter:
https://github.com/ArturT/knapsack#step-for-cucumber

[2015-07-01 22:53] greggroth commented on #18
The specs are written using the gherkin syntax, but are ran using rspec, e.g. `bin/rspec spec/features/logging_in.feature`.  Would that still require a separate report?  I would think it would be included in the rspec report.

[2015-07-01 23:08] ArturT commented on #18
Hmm, so it looks like rspec hooks were not fired and that's why report doesn't have `.feature` files.
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/rspec_adapter.rb#L9

Maybe you are using a separate spec_helper.rb for `.feature` and you missed to bind there `Knapsack::Adapters::RspecAdapter`.

If I will find some time during weekend I can prepare test suite with turnip to d

[2015-07-01 23:23] greggroth commented on #18
Thank you for the hint!  I dug in and found it's an issue with `Knapsack::Adapters::RspecAdapter.test_path`'s ability to parse the filename from example metadata.  This is when running a turnip feature:

[code]

and with a normal spec file:

[code]

I'll dig in further and see if I can't put together a PR to improve this.

[2015-07-01 23:29] ArturT commented on #18
Cool. You may want to take a look how I get the test file path in other adapters
https://github.com/ArturT/knapsack/tree/master/lib/knapsack/adapters

Please let me know if you will have something. In case you stuck I will help with that.

[2015-07-02 00:23] #18 closed

[2015-10-02 19:49] ghempton opened #23 "Incremental report generation"
As our test suite becomes increasingly large and increasingly parallel, generating a full knapsack report becomes increasingly time-consuming and difficult.

It would be great to be able to run a subset of the tests and to only update their entries in the knapsack report without clearing the rest.

[2015-10-02 20:08] ArturT commented on #23
For now as a temporary solution you can generate partial reports this way

[code]

You can add generated file paths to report. In case when report will contain paths that no more exists then knapsack can handle that and ignore those test files.

Currently I'm working on Knapsack Pro http://knapsack.launchrock.com/
Right now I'm doing some early testing on my own projects and in a few weeks I will

[2015-10-12 22:40] #23 closed

[2015-10-15 16:25] dkniffin opened #24 "Incompatibility with earlier versions of minitest"
In earlier version of minitest, `Minitest.after_run` isn't available. Instead, the method for doing that was `Minitest::Unit.after_tests`. I will submit a PR soon with a fix for this.

[2015-10-15 16:55] dkniffin commented on #24
Is there a good way to test this?

[2015-10-15 17:44] ArturT commented on #24
Right now I don't have a good idea how to test this across two minitest versions.

In rspec adapter I did similar workaround https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/rspec_adapter.rb#L10,L15

Please create PR then we will figure out something.

Thanks!

[2015-10-31 12:49] ArturT commented on #24
Fixed in the PR https://github.com/ArturT/knapsack/pull/26

[2015-10-31 12:49] #24 closed

[2015-11-20 20:23] pragmaticivan opened #29 "Load Knapsack tasks inside Rakefile"
I got some errors when I was using dis Gem. The rake tasks is not being loaded.

I found ou that on the example project you're loading the tasks there: https://github.com/KnapsackPro/rails-app-with-knapsack/blob/master/Rakefile

If that's required, you should update the Documentation.

[2015-11-20 20:42] ArturT commented on #29
Hi, it's already there https://github.com/ArturT/knapsack#common-step
Probably I should call this section "Common required step" to avoid confusion.

[2015-11-20 20:44] pragmaticivan commented on #29
Sorry, I meant on Semaphore block.

[2015-11-20 20:44] pragmaticivan commented on #29
Yes, would be better replacing or at least associating this at the Companies integration.

[2015-11-20 20:50] ArturT commented on #29
I moved load tasks instruction to installation section.
https://github.com/ArturT/knapsack#installation

[2015-11-20 20:51] pragmaticivan commented on #29
Cool, thanks :D

[2015-11-20 20:55] ArturT commented on #29
Thanks for pointing this out. Hope no one will have similar problem. :)

[2015-11-20 20:55] #29 closed

[2016-01-29 18:18] marinalimeira opened #30 "Can't run tests with Cucumber"
I tried to use with Cucumber but everytime I try, I get the following error:
[code]

I checked the Cucumber docs and `scenario_outline` doesn't exist on Cucumber::RunningTestCase::Scenario.
http://www.rubydoc.info/gems/cucumber/Cucumber/RunningTestCase/Scenario

And also, my report is being generated as
[code]

[2016-01-29 20:06] ArturT commented on #30
@marinalimeira  What version of cucumber & knapsack are you using? Could you provide the full backtrace of the error and how failing test code looks like? Maybe you found some edge case I didn't cover. Thanks.

[2016-01-29 22:33] marinalimeira commented on #30
@ArturT  Part of my `Gemfile.lock`:
[code]

That's my full backtrace:
[code]
`.: had to hide my code details :.`

[2016-01-29 23:50] ArturT commented on #30
@marinalimeira Could you reproduce the test, please fork this repo https://github.com/KnapsackPro/rails-app-with-knapsack/tree/master/features and add test which is similar to yours `features/[]/[].feature:5` so I will be able to prepare some fix.

Right now I don't know how your code looks like and it's hard for me to guess. Basically if you could prepare failing test (I mean the knapsack will fa

[2016-01-30 01:28] marinalimeira commented on #30
@ArturT I'm pretty sure that this is happening thanks to some cucumber update. I run `bundle update` inside rails-app-with-knapsack and cucumber was updated from 1.3.20 to 2.3.2.

That's the backtrace after run `cucumber`:
[code]

[2016-01-31 13:41] ArturT commented on #30
@marinalimeira  I did fix in knapsack 1.6.0. Could you try it and please let me know if it works for you.

[2016-01-31 17:28] marinalimeira commented on #30
It's working now, thank you!

[2016-01-31 17:28] #30 closed

[2016-01-31 18:23] ArturT commented on #30
@marinalimeira Cool, thanks for reporting issue. :)

[2016-02-18 07:52] wendy0402 opened #31 "run rspec need to add bundle exec"
when I use knapsack with rspec. When try to run it with command `rspec`, it give errors:
[code]

but when run it with `bundle exec rspec`, it works like a charm.
have anyone know the reason?

[2016-02-18 08:21] ArturT commented on #31
Hi @wendy0402
This is a common problem. bundle exec rspec executes in the context of your bundle so you should use it instead of just rspec. Take a look http://stackoverflow.com/a/8275912/905697

[2016-02-18 08:21] #31 closed

[2016-03-09 16:20] nikz opened #32 "Using Knapsack with shoulda_context"
Hiya!

Knapsack looks great, thanks!

On small problem - we're using the [shoulda-context](https://github.com/thoughtbot/shoulda-context) gem, and it seems like this is interfering with the test timing reporter. The JSON that's being generated is just:

[code]

Is there anything we can do to fix this up? Or is that what we're expecting?

Thanks!

[2016-03-09 18:23] ArturT commented on #32
Hi,

It looks like we need a fix to handle the case when shoulda-context gem is available.
Could you create a pull request for that? Here is the adapter for minitest and the method `test_path` responsible for determining a test file path. Please take a look:
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/minitest_adapter.rb#L49

[2016-04-06 00:50] deadlyicon opened #33 "What does "leftover" mean?"
Can you please update the README to explain the difference between `Report specs:` and `leftover specs:`

thanks

[2016-04-06 19:21] ArturT commented on #33
Thanks for pointing this out. I added explanation https://github.com/ArturT/knapsack#what-does-leftover-specs-mean

[2016-04-06 19:21] #33 closed

[2016-04-07 18:32] deadlyicon opened #34 "Merge reports feature"
Are there plans to add a `merge_report` feature so knapsack will update the report file instead of overwriting it?

I'd be happy to put together a PR is the feature is wanted :)

[2016-04-07 19:30] ArturT commented on #34
What's the use case? You would like to run just part of your test suite and record for it the time execution. Then merge the result with the existing report.

Currently, you generate the report with time execution for all tests on your CI with command like:

    KNAPSACK_GENERATE_REPORT=true bundle exec rspec spec

and you'd like to do something like

    KNAPSACK_GENERATE_REPORT=true KNAPSACK_MER

[2016-04-11 16:47] kienpham2000 opened #36 "knapsack:rspec passing in --fail-fast option?"
Hi,

We are using knapsack on Semaphore CI and loves it. When our dev push their branches, we ran parallel tests on the suite, but for each test, we also want it to have --fail-fast option, stop running test on first failing test. How can I pass in that option?

Thanks.

[2016-04-11 17:52] kienpham2000 commented on #36
Looks like I can do this:
`bundle exec rake "knapsack:rspec[--fail-fast]"`

[2016-04-11 17:52] #36 closed

[2016-04-11 19:28] deadlyicon commented on #34
Right now we're running our build on travis across 5 parallel VMs. So we
have the knapsack report checked in so each VM has the same exact report to
ensure consistent division of labor. In order to ensure all of our specs
are in the knapsack report I've installed a pack to knapsack that amends
any rspec file times to the existing report which allows our team to check
in changes to the report along

[2016-04-11 21:48] ArturT commented on #34
any rspec file times to the existing report which allows our team to check
in changes to the report along side changes to spec files.

At first, it sounds good but the thing that bothers me is the case when a developer checks in updated knapsack report based on time execution of tests on his machine. The same specs may run different time on different developers' machines or CI servers. When test f

[2016-04-11 22:02] deadlyicon commented on #34
This is the monkey patch we're using

[code]

It doesn't feel like an elegant solution so I didn't bother to PR it. But
if you think this is a feature you may wants I'd be happy to take a stab at
a sustainable code change.

:D

On Mon, Apr 11, 2016 at 2:48 PM, Artur Trzop <notifications@github.com>
wrote:

--
Jared

[2016-04-11 23:08] ArturT commented on #34
@deadlyicon Thanks for sharing this. Maybe someone will try this. You can turn it into gist for instance.

For now, I'd like to keep it simple and don't introduce this to knapsack as this solution adds more complexity depend on the use case. Anyway, thank you for letting me know about your idea.

[2016-04-11 23:19] deadlyicon commented on #34
thank you!

feel free to share:
https://gist.github.com/deadlyicon/9c06ace46821b080dd368cc54d52b3aa

On Mon, Apr 11, 2016 at 4:08 PM, Artur Trzop <notifications@github.com>
wrote:

--
Jared

[2016-04-11 23:39] ArturT commented on #34
I've updated FAQ in readme https://github.com/ArturT/knapsack#how-to-update-existing-knapsack-report-for-a-few-test-files
Thanks for gist!

[2016-04-11 23:39] #34 closed

[2016-04-11 23:40] ArturT commented on #15
Here is similar problem and solution https://github.com/ArturT/knapsack/issues/34

[2016-04-11 23:40] #15 closed

[2016-04-11 23:43] deadlyicon commented on #34
awesome thanks!

On Mon, Apr 11, 2016 at 4:39 PM, Artur Trzop <notifications@github.com>
wrote:

--
Jared

[2016-06-05 23:52] pragmaticivan opened #42 "Support Jenkins"
Any idea about having Jenkins support?

[2016-06-06 00:05] ArturT commented on #42
Would be great to add that. I'm not familiar with Jenkins. Is it expose something like CI_NODE_TOTAL and CI_NODE_INDEX? Could you help with that, we need to add only new env in https://github.com/ArturT/knapsack/blob/master/lib/knapsack/config/env.rb

[2016-06-06 01:17] pragmaticivan commented on #42
I'll simulate later using those Env vars first. Jenkins will be a little bit complex to configure because you can run everything in different nodes.

[2016-06-06 01:18] pragmaticivan commented on #42
I'm also building my whole pipeline with Docker, so need to test that case too.

[2016-06-06 19:39] ArturT commented on #42
I'm wondering maybe you need to use a plugin like https://wiki.jenkins-ci.org/display/JENKINS/Multijob+Plugin but I don't know if it exposes job id and job total number which you could use as CI_NODE_INDEX and CI_NODE_TOTAL.

Please let me know if you will figure out something.

[2016-06-06 19:51] pragmaticivan commented on #42
That's exactly the one I installed yesterday. I'm just wondering now the best way to share the workspace between multiple workflows like semaphore and circle ci do.
So we can have the same scenario

[2016-06-06 19:52] pragmaticivan commented on #42
There's also this one (a brand new with DSL) that Jenkins created: https://wiki.jenkins-ci.org/display/JENKINS/Pipeline+Plugin

But need to spend more time testing.

[2016-06-07 06:55] mknapik commented on #42
I think Jenkins Pipeline is a better approach since it's maintained actively by CloudBees and the community.
I can prepare example DSL configuration for the plugin if you want me to.

[2016-06-07 07:21] ArturT commented on #42
@mknapik It would be great if you could help!

[2016-06-08 07:43] mknapik commented on #42
I created example Ruby project with RSpec and Knapsack set up.
Here is Jenkins Pipeline configuration:
https://github.com/mknapik/jenkins-pipeline-knapsack/blob/master/Jenkinsfile

The relevant part is a function `knapsack`. The rest (e.g. RVM) is dependent on the setup of jenkins workers.
What should be our next step?

[2016-06-08 07:54] ArturT commented on #42
@mknapik Maybe you could create a pull request with updated README.md in knapsack gem and describe there how to set up Jenkins. You can add the link to your repository as the example project.

@pragmaticivan Could you check if that example works for your project?

[2016-06-08 16:35] pragmaticivan commented on #42
I just performed this example and got an error.
<img width="801" alt="screen shot 2016-06-08 at 9 34 43 am" src="https://cloud.githubusercontent.com/assets/301291/15902338/46d37b6c-2d5c-11e6-825d-e766ed647aa7.png">

In My case maybe because I didn't install RVM yet. And Also because I was planning to have Docker as container for that case.

[2016-06-09 04:02] myers commented on #10
You probably just want to use the system built into parallel_tests that can split test up into groups.

[2016-06-09 07:34] mknapik commented on #42
If Ruby is present at your jenkins worker nodes I guess you could delete `withRvm`.
As I said, most of the stuff inside a closure is project/ci specific.
How about trying something like this:

[code]

[2016-06-09 17:14] pragmaticivan commented on #42
@mknapik that started to work very well, how would you have a sidekick for Postgres using docker in this case?  I think with this full example using docker would be a really nice case to explain also in a blog post.

[2016-06-10 08:11] mknapik commented on #42
Sure, I was actually thinking about writing about it. I'll let you know once I do.

@ArturT Regarding knapsack, is presenting `knapsack` groovy function with some short explanation in Knapsack README enough for you?
I think explaining Jenkins Pipeline thoroughly is probably out of scope of the project but I think giving the function should be enough for people who already know how to use JP. What

[2016-06-10 08:57] ArturT commented on #42
@mknapik Makes sense. You can add a link to Jenkins Pipeline docs where is described topic so it will be easy for someone using it for the first time to set up altogether.

[2016-06-21 07:35] edwinv opened #43 "Logger levels cannot be changed"
We are using the Knapsack rake task to start our RSpec test suite:

[code]

Knapsack is putting a lot of information into our build output, due to the `Knapsack.logger.level` begin set to `INFO`. I've tried changing this level to a lower setting, but because Knapsack is calling the logger from the rake task, there is no way to influence the logger level.

Is there any way to lower the logger level

[2016-06-21 08:08] ArturT commented on #43
Sounds like a good idea. Could you prepare a PR, you can control logger level here:
https://github.com/ArturT/knapsack/blob/master/lib/knapsack.rb#L51

[2016-07-04 05:45] aabrook opened #44 "Test sequence random ordering"
Apologies if this is not the right place to post this request.

It appears as though knapsack sequences tests in a particular order. The issue with this is it can hide caching issues an dependencies. A more ideal solution would be to randomise test ordering on each node and, potentially, across nodes. This would help catch cross test dependencies.

Cheers

[2016-07-04 05:58] ArturT commented on #44
@aabrook Thanks for the nice idea. I think randomize test ordering on each node sounds doable. Randomize them across nodes might be more problematic because we want to run specific tests on the particular node.

[2016-07-04 06:02] aabrook commented on #44
I can definitely appreciate the difficulty across nodes just due to ensuring that execution times are uniform. Maybe a `stretch goal` where test balancing can be within a time frame to jumble. I suspect only possible in the pro version to track what's going on between nodes.

[2016-07-04 06:07] ArturT commented on #44
Are you using the pro version https://github.com/KnapsackPro/knapsack_pro-ruby so you could try testing cross node randomization?

[2016-07-04 08:44] aabrook commented on #44
Currently using just this version. Reviewed the pro but, due to the lack of https, we chose to continue with this version.

[2016-07-04 11:02] ArturT commented on #44
I added https to pro version recently. Feel free to try it.

[2016-07-08 14:25] ArturT commented on #44
@aabrook BTW currently you can randomize your rspec tests by adding in `.rspec` file the line

    --order rand

Thanks to that you would have randomize tests per node. Rspec will randomize them no matter the order of given test files.

[2016-07-27 20:18] nickpoorman opened #45 "Generate report on rails 5"
We recently upgraded to rails 5 which no longer uses rake and it seems that the reports are no longer generating. We're using minitest so we would run:

[code]

Now when we run the updated command the reports are not generated:

[code]

We cannot use rake because it no longer works with our tests. Is there another way to generate a report?

[2016-07-27 20:22] ArturT commented on #45
Maybe something like this would work:
[code]

I need to play with rails 5 and check how it works.

[2016-08-03 22:02] ArturT commented on #45
@nickpoorman I've just noticed my previous answer was the same solution you already tried. Sorry for that, I wrote that post during late hours :)

It might be possible to generate report with this:
[code]

I will try to take a look at this issue during a weekend and I will update readme.

[2016-08-05 10:27] ArturT commented on #45
@nickpoorman I updated readme in knapsack gem. I did a few tests today for rails 5 and above solution should work. Please let me know if you will find any problem.

I also create an example rails5 app with knapsack gem https://github.com/KnapsackPro/rails-app-with-knapsack/tree/rails5

[2016-08-05 10:27] #45 closed

[2016-10-06 11:56] antonpaisov opened #48 "Build fails with custom KNAPSACK_TEST_FILE_PATTERN"
https://github.com/ArturT/knapsack#how-can-i-run-tests-from-multiple-directories using the approach described here `bundle exec rake knapsack:rspec` fails with `require': cannot load such file -- spec_helper (LoadError)` when `KNAPSACK_TEST_FILE_PATTERN` contains other directories.

[2016-10-06 19:25] ArturT commented on #48
Did you try to provide `KNAPSACK_TEST_DIR=directory_where_is_spec_helper` ?

[2016-10-06 19:42] antonpaisov commented on #48
Yes, I've tried both with `KNAPSACK_TEST_DIR=spec` and without `KNAPSACK_TEST_DIR`

[2016-10-06 21:08] ArturT commented on #48
How your KNAPSACK_TEST_FILE_PATTERN looks like?

Maybe you require spec_helper from the wrong directory. For instance, in test file you require rails_helper but inside of rails_helper you require spec_helper from wrong directory (different then KNAPSACK_TEST_DIR).

I'm trying to reproduce that on this app: https://github.com/KnapsackPro/rails-app-with-knapsack
You could fork that and add the secon

[2016-10-07 13:05] ArturT commented on #44
Here is example how to pass argument to knapsack command:

[code]

another way is to set order in `spec_helper.rb`:

[code]

[2016-10-07 13:05] #44 closed

[2016-10-07 13:22] ArturT commented on #42
@mknapik Would you be able to help prepare short tip how to run knapsack on Jenkins. You could add this to the section https://github.com/ArturT/knapsack#setup-your-ci-server
I'd appreciate that and then close this issue.

[2016-10-07 13:37] ArturT commented on #32
NOTE:
Here is PR fix for shoulda-context. https://github.com/thoughtbot/shoulda-context/pull/51
Once merged then we can close this issue.

[2016-10-07 16:00] antonpaisov commented on #48
Thank you @ArturT, my understanding of the problem is similar to what you've described.
I'll try to reproduce it on the test app :) Will get back to you about the results.

[2016-10-07 21:37] aabrook commented on #44
Great thank you

[2016-10-10 23:52] antonpaisov commented on #48
So it turns out that `require_relative 'spec_helper'` instead of `require 'spec_helper'` in those others BCs fixed the problem.
Might be worth adding some tip about a possibility of such problem in Readme :)

[2016-10-10 23:52] #48 closed

[2016-10-11 06:53] ArturT commented on #48
I've added tip here https://github.com/ArturT/knapsack#how-can-i-run-tests-from-multiple-directories

[2016-10-11 09:36] antonpaisov commented on #48
Cool! (but it should be vise versa)
[code]

[2016-10-11 09:38] ArturT commented on #48
Fixed. :)

[2016-10-13 16:02] dingn1 opened #50 "Bug some of the tests in the report are not being executed."
we have `"spec/requests/api/artists_spec.rb": 5.043759346008301,` in the report but its not actually executed in our CI. I was wondering is there a way to check what's the files being executed?(is it only possible to look through the output in the CI pipeline) And we do find that the problem is fixed after we regenerate the report again so not sure what's wrong(the line in the report was updated).

[2016-10-13 16:51] dingn1 commented on #50
There is 400 lines in or report and the test being executed is only 329. So I was wondering if there is a way to figure out which one are skipped automatically

[2016-10-13 17:36] dingn1 commented on #50
As I can see from the code is it because of the sorting of how the reported test are read from the report? maybe we need a sort there also?

[2016-10-13 18:56] ArturT commented on #50
Could you provide link to the part of the code you mean?

You can run `bundle exec rake knapsack:minitest` and see knapsack logger output with list of tests that are going to be executed.  Leftover tests are those not in knapsack report yet.
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/runners/minitest_runner.rb#L8

If you removed or renamed the file `spec/requests/api/artists_spec.

[2016-10-13 19:17] dingn1 commented on #50
The file is there and its in the report but its not executed(from the output on CI, no pipeline have it) and from the output I get from the CI, i found that there are some files that are running multiple times across different nodes. The line I talked about is https://github.com/ArturT/knapsack/blob/516aedd5ecf3bd0c900ca00e9da22d139e0f7d1d/lib/knapsack/distributors/leftover_distributor.rb#L5

From

[2016-10-13 19:48] ArturT commented on #50
1. Do you use custom pattern `KNAPSACK_TEST_FILE_PATTERN`?

2. Do you see duplicated files in knapsack report json?

3. You could fork gem and try add uniq here `report.keys.uniq`
https://github.com/ArturT/knapsack/blob/516aedd5ecf3bd0c900ca00e9da22d139e0f7d1d/lib/knapsack/distributors/leftover_distributor.rb#L5 and see how it works for you.

[2016-10-13 20:08] dingn1 commented on #50
We have `KNAPSACK_TEST_FILE_PATTERN="spec/**{,/*/**}/*_spec.rb"` no duplicate in the report.json file

[2016-10-14 15:35] #43 closed

[2016-10-14 15:44] dingn1 commented on #50
Thanks for your help got it fixed.

[2016-10-14 15:44] #50 closed

[2016-10-14 15:48] ArturT commented on #50
Adding `report.keys.uniq` solved the problem? https://github.com/Vydia/knapsack/commit/566ef35123f8f8839067db27f36ce5435088e22d

Could you provide more context about the investigation you did? Is there a real bug in the gem then I'd like to fix that. If not then what was the root of your problem then?

[2016-10-14 16:02] ArturT commented on #43
@edwinv Could you try the newest knapsack gem version and check the readme to adjust log level https://github.com/ArturT/knapsack#how-can-i-change-log-level

[2016-10-14 16:06] dingn1 commented on #50
some of the configuration for running the test was wrong so however one of the pipeline is not executed on the CI. Its not a real bug.

[2016-10-14 16:07] ArturT commented on #50
OK. Thank you!

[2016-10-15 21:07] mknapik commented on #42
@ArturT It's still on my radar. I don't want to make any promises but I'll try to commit something in the next 2 weeks.

[2016-10-15 21:08] ArturT commented on #42
@mknapik Would be awesome. Thanks!

[2016-11-06 22:55] #32 closed

[2016-11-06 23:00] ArturT commented on #32
shoulda-context release 1.2.2 solves problem.

[2016-12-21 11:38] phansch opened #53 "Knapsack crashes because exitstatus is nil"
First of all, thank you very much for knapsack and maintaining it!

Since a few days we are getting crashes from knapsack in one of our builds because the exitstatus is nil:

[code]
It crashes in [rspec_runner.rb#L18](https://github.com/ilyasgaraev/knapsack/blob/master/lib/knapsack/runners/rspec_runner.rb#L18) because `exit` can not handle `nil` itself.

~I have yet to find the reason why the exit

[2016-12-21 14:45] ArturT commented on #53
By fixing this recursion your tests are green now again?

Probably the fix should be:
[code]
I will look into that.

[2016-12-25 12:56] ArturT commented on #53
I've just found out that link you provided to the rspec_runner.rb file is from forked repo.

This bug was already fixed in this PR: https://github.com/ArturT/knapsack/pull/52

@phansch Could you use the newest version 1.13.1 of knapsack gem from rubygems instead of fork?

[2016-12-25 12:56] #53 closed

[2017-03-12 02:17] synth opened #54 "Knapsack doesn't work with spring binstubs"
Our app has binstubs generated by rails/spring in the application root/bin folder. So for example, here is Rails.root/bin/rspec

    #!/usr/bin/env ruby
    begin
      load File.expand_path('../spring', __FILE__)
    rescue LoadError => e
      raise unless e.message.include?('spring')
    end
    require 'bundler/setup'
    load Gem.bin_path('rspec-core', 'rspec')

So, we execute all commands wi

[2017-03-12 13:01] ArturT commented on #54
I saw you forked the gem https://github.com/synth/knapsack/commit/884069ccbdfc925fa81836e3a750efd4e2e41fb0
Does it solve your problem?

[2017-03-12 18:09] synth commented on #54
Yes, it solves it temporarily. Perhaps the rspec command can be parameterized.

[2017-03-12 18:52] ArturT commented on #54
In knapsack_pro gem I load the rspec task in a bit different way:
https://github.com/KnapsackPro/knapsack_pro-ruby/blob/master/lib/knapsack_pro/runners/rspec_runner.rb

You may want to try the knapsack_pro gem to see if it works better for you.

[2017-03-24 11:32] ArturT commented on #42
I added info about Jenkins in readme and link to `Jenkinsfile`.

https://github.com/ArturT/knapsack#info-for-jenkins

[2017-03-24 11:32] #42 closed

[2017-03-29 08:48] madejejej opened #55 "Push Timecop to development dependencies"
In the gemspec the Timecop gem is listed as a regular dependency:

[code]

You probably want to include it only as a development dependency since it's only being used in `spec/knapsack/tracker_spec.rb`:

https://github.com/ArturT/knapsack/search?utf8=%E2%9C%93&q=Timecop&type=

[2017-03-29 11:13] radubogdan opened #56 "Rspec callbacks are not called"
Hey guys,

I'm trying to use knapsack and semaphoreapp CI to spread the tests across multiple nodes and it looks like the `before :each` callback from `spec_helper.rb` is not running before the specs.

**localhost**

[code]

**spec_helper.rb**

[code]

Knapsack: 1.13.2
Rbenv with ruby 2.4.0
Rails: 4.2.8
Rspec: 3.5.0
Rspec-rails: 3.5.2

It's working fine with normal rspec command. Is this supported

[2017-03-31 11:47] ArturT commented on #55
It is used here:
https://github.com/ArturT/knapsack/blob/master/lib/knapsack/tracker.rb#L84

[code]

`now_without_mock_time` is Timecop method: https://github.com/travisjeffery/timecop/search?utf8=%E2%9C%93&q=now_without_mock_time&type=

Anyway thanks for checking :)

[2017-04-01 21:56] ArturT commented on #56
Maybe try this but it seems the spec_helper.rb is already loaded. You can provide other options to play with rspec configuration.

[code]

or try load rspec via bundler
[code]

or this, maybe the order does matter and your knapsack report json ended up in a specific order that gives you the order depended bug and some of your code removes the country.
[code]

Please try to follow backtrace to find

[2017-04-03 11:20] radubogdan commented on #56
Hey @ArturT

The only command with a different output is `bundle exec rake knapsack:rspec`

[code]

The other two outputs the same error. I can't figure out what's the root problem. Everything works if I invoke rspec normally (`bundle exec rspec spec`)

[2017-04-03 17:34] rymai opened #57 "Trailing slash should be removed from `allocator.test_dir` in `Knapsack::Runners::SpinachRunner`"
We, at GitLab, have an issue where the `--features_path` option passed to Spinach is set to `features/`: https://github.com/ArturT/knapsack/blob/e2e71d3974653bd3333fbf707fa20a8f0d95e209/lib/knapsack/runners/spinach_runner.rb#L15

The problem is that Spinach is not expecting a trailing slash for this option: https://github.com/codegram/spinach/blob/f561ec621dc309c87a60dd2c6ccca48a818ab298/lib/spina

[2017-04-03 17:43] ArturT commented on #57
I will check that. Did you notice this after update of spinach gem?

For now you can manually set test_dir with `KNAPSACK_TEST_DIR=features` env var.

[2017-04-03 19:28] ArturT commented on #56
Do you have .rspec file and what is the content?

Do you require spec_helper.rb or rails_helper.rb in your spec files?

Maybe try this:

[code]

Or maybe this error is related to binstubs https://github.com/ArturT/knapsack/issues/54

[2017-04-03 22:10] rymai commented on #57
Thanks! ❤️

No, we're on [Spinach 0.8.10 since more than 1.5 years](https://gitlab.com/gitlab-org/gitlab-ce/blob/d9aca741155f456711e37ea68a28a46d349af698/Gemfile.lock#L739)! :)

Yep, I figured this out, thanks!

[2017-04-03 22:16] rymai commented on #57
Maybe a better fix would be `@report_distributor.test_file_pattern.split('/').first` as we do in [`Knapsack:: AllocatorBuilder#test_dir`](https://github.com/ArturT/knapsack/blob/e2e71d3974653bd3333fbf707fa20a8f0d95e209/lib/knapsack/allocator_builder.rb#L18)? I don't know the gem enough to know what's best, but I think both fix would solve the issue we have.

[2017-04-03 22:34] #57 closed

[2017-04-03 22:51] ArturT commented on #57
I've released knapsack 1.13.3. Thanks for help!

BTW maybe you would find useful [Queue Mode in knapsack_pro](https://github.com/KnapsackPro/knapsack_pro-ruby#queue-mode) for auto-balancing CI nodes.
I wrote the article recently: http://docs.knapsackpro.com/2017/auto-balancing-7-hours-tests-between-100-parallel-jobs-on-ci-buildkite-example

[2017-04-03 22:53] ArturT commented on #56
Please update knapsack to 1.13.3 just to ensure it's not related to https://github.com/ArturT/knapsack/issues/57

[2017-04-04 00:09] rymai commented on #57
Thanks @ArturT!

[2017-04-04 07:04] radubogdan commented on #56
1. I have a `.rspec`

[code]

2. I don't have a `rails_helper.rb` file. I require `spec_helper.rb` in every spec.
3. I saw #54 before I opened this issue, but it doesn't seem related to my problem. I tried synth's fork but still doesn't work.
4. I've updated to 1.13.3 but it still fails with the country error and your last command fails with `LoadError: cannot load such file -- rspec/rails`.

[2017-04-04 07:08] ArturT commented on #56
Maybe try to `require 'knapsack'` right before `Knapsack::Adapters::RSpecAdapter.bind`.

How you Gemfile looks like?

You could try https://github.com/KnapsackPro/knapsack_pro-ruby and see if it fails too. The RSpec is loaded differently there. Maybe it will work instead of knapsack.

[2017-04-04 09:07] radubogdan commented on #56
Relevant part:

[code]

KnapsackPro gived me the same Country error.

I did a rails dummy app (same ruby/rails/rspec/knapsack versions) which configures the exact same before each block inside Rspec.configure and wrote some mock tests. Looks like it's working and the problem is related to my repo. I'll try to extensively debug this in the weekend and come back if I find the problem.

Thanks for yo

[2017-04-04 09:07] #56 closed

[2017-04-04 11:31] radubogdan commented on #56
Ok the problem was that I was invoking something in a spec who required the setting of the country and because this was not happening inside a `it` block the `before(:each)` for `Rspec.configure` was not called.

Example:

[code]

[2017-04-05 17:55] Startouf opened #58 "Multiline declaration for circleci"
Hello,
I know this is probably not the best place but I couldn't find a link to a discussion in the readme.

I can't get knapsack to work in my cucumber file with parralalism and custom arguments on a multiline yml

[code]

Gives me errors when parsing on circleci. I've also tried

[code]

But I run into parsing errors. How did you manage to make multiline declarations with the parallel syntax for

[2017-04-05 21:04] ArturT commented on #58
You can create an executable bash script and run it instead:

You can put this file in your bin directory: `bin/knapsack_cucumber`
[code]

and then

[code]

[2017-04-05 22:36] Startouf commented on #58
Hey I've tried your solution and I run into a different error (not sure it's related to the first one) but here is the trick

I use a gem for my payment system (Stripe) and a mock gem for test environment. This gem is declared using a special `require`

[code]

Now, when I ssh into my circleci container, and I run `cucumber`, the tests are executing fine. However when I run the tests through the r

[2017-04-08 14:12] ArturT commented on #10
I created the example for parallel_tests and knapsack_pro gem:
https://github.com/KnapsackPro/knapsack_pro-ruby#how-to-run-knapsack_pro-with-parallel_tests-gem

[2017-04-08 17:16] ArturT commented on #58
How you run cucumber without knapsack?
Like that `cd project_dir &&  bundle exec cucumber`?

You should run knapsack this way: `cd project_dir && ./bin/knapsack_cucumber` to ensure you run it from the project_dir and the require paths can be resolved properly.

[2017-04-23 17:25] Startouf commented on #58
Without knapsack and parallelism, the following works

[code]

With knapsack I was trying something like (which doesn't work)

[code]

And the content of the `bin/knapsack_cucumber_critical_circleci`

[code]

[2017-05-12 14:49] kernow opened #59 "Test not in the report"
Hi,

Thanks for creating this gem, it's very useful. I have a questions regarding what happens when tests are not specified in the report. For example if I have an rspec report that contains:

    {
      "spec/A_spec.rb": 3.047823905944824,
      "spec/B_spec.rb": 3.047823905944824
    }

And if I add a new test file `spec/C_spec.rb` but I don't add it to the report will the tests in `spec/C_spec

[2017-05-12 15:08] ArturT commented on #59
knapsack will figure out that there is a new test or if a test was removed but it won't know about test time execution to make right split hence you need once in a while to regenerate the report.

I created knapsack_pro gem to handle that and even more. It tracks all your branches and can do dynamic test allocation across CI nodes to get optimal test suite split. You can learn more here https://kn

[2017-05-12 15:08] #59 closed

[2017-05-12 19:30] ArturT commented on #55
Note to myself. It was done this way on purpose. Timecop is a regular dependency and I don't want to use `Time.now` because someone could stub `Time.now` and that would prevent to determine the correct time.

Here is related commit in knapsack_pro https://github.com/KnapsackPro/knapsack_pro-ruby/commit/f6fe6a2af1be289f23ad0337f1081d032bfa109c/knapsack_pro.gemspec#diff-0

[2017-05-12 21:14] ArturT commented on #55
I figured out how `Timecop` could be moved to development dependencies. I did change in `knapsack_pro` https://github.com/KnapsackPro/knapsack_pro-ruby/pull/38
A similar thing could be done here in `knapsack` gem. If anyone wants to help it's basically copy & paste from the [PR](https://github.com/KnapsackPro/knapsack_pro-ruby/pull/38)

[2017-05-28 16:43] #55 closed

[2017-06-27 11:42] mknapik commented on #42
@ArturT Duke Nukem Forever of blog posts: http://blog.knapik.me/knapsack-with-jenkins-pipeline/
Sorry for the delay and I hope you will find it useful!

[2017-06-27 20:10] ArturT commented on #42
@mknapik Awesome work! I've added the article to the readme: https://github.com/ArturT/knapsack#info-for-jenkins

[2017-07-05 04:46] naw opened #62 "custom configuration for the rake tasks"
I see in the README that you can provide custom configuration in `spec_helper.rb`, `test_helper.rb`, etc.

This affects the configuration when running tests and generating a report.

However, how do you provide configuration when running the knapsack rake tasks?

For example, I'm using rspec, and have a custom configuration to change the `report_path`.

This correctly saves the report where I want

[2017-07-05 21:21] ArturT commented on #62
You can use `KNAPSACK_REPORT_PATH`

[code]

You may want to check https://knapsackpro.com with more advanced features like Queue Mode to get optimal test suite split.

[2017-07-06 19:56] #62 closed

[2017-07-13 21:34] naw commented on #62
Thanks. I see now that the environment variable is mentioned in the README; I just didn't see it.

[2017-07-13 21:48] ArturT commented on #62
Cool. I'm closing the issue then.

BTW I recommend seeing video how Knapsack Pro Queue Mode works to get optimal test suite split.
https://www.youtube.com/watch?v=pkdLzKlnlQg

[2017-09-08 20:27] chevinbrown opened #65 "Docs for circleci 2.0"
Docs are helpful for circleci 1.0, but 2.0 has a lot of changes and weak documentation. This is just a request to update docs for those of us migrating to 2.0!

[2017-09-08 22:04] ArturT commented on #65
Feel free to help make a pull request with updated readme about CircleCI 2.0.

I did a basic example in knapsack_pro gem here https://github.com/KnapsackPro/knapsack_pro-ruby#info-for-circleci-users so you could use it as inspiration. Probably you are more up to date with recent changes in CircleCI 2.0.

[2017-09-14 19:43] ArturT commented on #65
I've updated readme.

[2017-09-14 19:43] #65 closed

[2017-09-26 13:06] rishijain commented on #8
I am not sure if this has cropped up again, because there are specs in travis build which are coming under leftover specs and is never run in any of the 10 threads in travis.

I am using version `1.13.0`. Anyone has any thoughts on this?

[2017-09-26 18:33] ArturT commented on #8
@rishijain You can try to update the gem to the latest version.
https://github.com/ArturT/knapsack/blob/master/CHANGELOG.md

The specs might end up in leftovers if they are empty test files or only pending test files but never the less they should be executed by RSpec.

https://github.com/ArturT/knapsack#why-some-of-test-files-are-still-in-leftover-specs-after-i-generate-a-new-report

Do you use a

[2017-10-02 14:21] madejejej opened #66 "Suggested practices for running parallel tagged specs?"
Hey Artur!

I've read the README section on running specs with tags but I'm not 100% sure this fully describes our use case. Let me tell you how we roll 😄

Before configuring Knapsack we were already using rspec tags to parallelize our build. We have 4 different tags:
- ordered - for legacy test that need to run in a predefined order 💀
- random - for good tests
- hive - for tests that integrate wi

[2017-10-02 17:48] ArturT commented on #66
@madejejej Could you tell me more how you run those tests?

1. Do you run each tag on each CI node?
2. Could you tell me how long is each tagged test suite?
2. How many CI nodes do you have?
4. What CI provider?

5. Do `ordered` tests depends only on `it`s inside of test files, right?
6. Do `ordered` depend on the order in which test files are executed? For instance `b_spec.rb` must be executed af

[2017-10-04 09:09] madejejej commented on #66
1. Each tag is run on a separate node

2. Hive is ~24 minutes, ordered around 20 minutes, random around 15 minutes and JRuby ~7 minutes

3. 4. we self-host Jenkins so it's all configurable and we're still looking for the optimal configuration :). Currently we use an auto-scaling group with a limit of 40 v-CPUs and 40 workers

5. / 6. Unfortunately there are dependencies between files but we're pre

[2017-10-04 09:15] ArturT commented on #66
If you will look for Jenkins configuration, here is an example from one of my users:
https://github.com/KnapsackPro/knapsack_pro-ruby#info-for-jenkins-users

You can still run `order` depended tests with regular knapsack for the time being and use knapsack_pro Queue Mode to auto balance CI nodes timing to get optimal time execution. No need to reinvent the wheel and you can focus on delivering fea

[2017-10-19 15:29] iain opened #67 "Cucumber 3 support"
I'm getting `uninitialized constant Cucumber::RbSupport (NameError)`

[2017-10-19 16:18] ArturT commented on #67
What exactly version of Cucumber do you have?

[2017-10-20 04:07] iain commented on #67
Cucumber 3.0.1

I've made the following workaround:

[code]

[2017-10-20 05:54] igas commented on #67
I experience the same issue. Also on 3.0.1.

[2017-10-20 07:01] ArturT commented on #67
Ok. I will have to add support for Cucumber 3 then in https://github.com/ArturT/knapsack/blob/master/lib/knapsack/adapters/cucumber_adapter.rb

[2017-10-22 19:59] ArturT commented on #67
FYI The workaround proposed by @iain does not work. The code is running but the hook is not called.

I found how to use `around` hook in Cucumber 3 here https://github.com/cucumber/cucumber-ruby/blob/v3.0.0/lib/cucumber/glue/dsl.rb

I prepared fix here: https://github.com/ArturT/knapsack/pull/68

I've released a new version of `knapsack` and `knapsack_pro` gem. You can learn more how to speed up y

[2017-10-22 19:59] #67 closed

[2017-10-27 13:10] joshfng opened #69 "cannot load such file -- knapsack After install"
Followed the install instructions. I'm able to run regular rspec and generate the knapsack report, but when I try to run the knapsack rake task I get the load error:

Rails 4.2

[code]

Gemfile
[code]

Rakefile
[code]

rails_helper.rb
[code]

Has anyone else experienced this?

[2017-10-27 13:42] joshfng commented on #69
Seems the issue is any require when executing `bundle exec rake knapsack:rspec`

No matter what file is required first it always reports that there's no such file

[2017-10-27 13:48] ArturT commented on #69
You can take a look at example project:
https://github.com/KnapsackPro/rails-app-with-knapsack/blob/master/Rakefile

Why you have double `..` ? It should be `require File.expand_path('../config/application', __FILE__)` in regular rails app. Is your project in a different directory?

[2017-10-27 13:52] joshfng commented on #69
Thanks for the reply!

My Rakefile is correct: `require File.expand_path('../config/application', __FILE__)` I think you were looking at the rails_helper.rb file below.

When I run `bundle exec rspec` all files are loaded correctly. It's only when trying to run the `knapsack:rspec` task when files can no longer be found

[2017-10-27 14:40] joshfng commented on #69
I've sourced the problem to https://github.com/ArturT/knapsack/blob/master/lib/knapsack/runners/rspec_runner.rb#L15

If I change:
[code]

To
[code]

It runs correctly

[2017-10-27 15:06] ArturT commented on #69
Oh, it looks like the same problem was here https://github.com/ArturT/knapsack/issues/54 where someone forked the repo to fix it.

I'm not sure if I should do assumption in my gem that you always have bin/rspec. Maybe if knapsack could be configurable whether you want to use `bundle exec rspec` or `bin/rspec` would help.

[2017-10-27 17:47] ArturT commented on #69
@joshfng You may want to try `knapsack_pro` gem which works in a different way and this problem should not occur. You can learn more watching video at https://knapsackpro.com

[2017-10-27 20:33] #69 closed

[2017-11-07 22:21] tibbon opened #70 "How to run tests in parallel locally?"
I have a machine with 8+ threads. How can I run my tests in parallel with these reports on my local system?

[2017-11-07 23:11] ArturT commented on #70
Here is example: https://github.com/ArturT/knapsack#how-to-run-tests-for-particular-ci-node-in-your-development-environment

Could you share more info about your project context. What CI provider do you use? How long is your test suite? RSpec or something else? Why do you want to run test suite in development across threads? Is it small test suite so it's faster in development than pushing to CI?

[2017-11-07 23:21] tibbon commented on #70
Thanks for such a fast follow up!

My test suite is a mixture of Minitest (migrating away from) and RSpec. Between the two of them the suite is around 4-5 minutes to run fully, but if I could get that down to under a minute it would be great.

We use CircleCI, which is great. It's only building on pull requests right now, and I probably could just push to a work in progress branch more. Between bu

[2017-11-07 23:37] ArturT commented on #70
Regarding idea how to lower down the time of builds on CircleCI you could do this:

1. Use CircleCI 2.0 which is faster. If you need something specific for your project then you can use custom Docker image. Other than that you can use default Docker images provided by CircleCI. I wrote article with an example how to configure CircleCI 2.0 with ruby + capybara
http://docs.knapsackpro.com/2017/circl

[2017-12-17 07:01] colinxfleming opened #71 "Want a recipe for working with rails systemtests in your docs?"
Hey @ArturT , thanks much for this, it's a lovely library and a huge time-saver for us at DCAF Engineering (and by extension, me personally).

We recently ported some integration tests over to system test (in minitest), and it took a little bit of poking around to get them to show up in the report -- `KNAPSACK_GENERATE_REPORT=true bundle exec rake test test:system` in CI wound up doing the trick.

[2017-12-17 07:17] ArturT commented on #71
Hey @colinxfleming, thanks for nice words. It would be nice if you could prepare the PR with updated README. :)

[2017-12-17 07:22] colinxfleming commented on #71
You betcha. I'll pop that out shortly.

[2017-12-30 23:24] ibrahima commented on #54
is it possible to try knapsack_pro (just to see if it fixes the issue) without getting a license for it? Why doesn't knapsack free use the same way of loading rake tasks? It'd be nice to make sure that the free version works with spring binstubs too, since it's a fairly common thing.

(I'm having a similar issue and am trying @synth's fork, but it'd be nice to not have to do that)

[2017-12-31 08:28] ArturT commented on #54
Hi @ibrahima

Sure you can try https://knapsackpro.com for free. The trial is 14 days and days are count only when you use Knapsack Pro API. If you need more time to test it please just drop me an email so I will extend your trial period.

[knapsack](https://github.com/ArturT/knapsack/) gem is older project than [knapsack_pro](https://github.com/KnapsackPro/knapsack_pro-ruby) hence the differences

[2018-01-01 16:25] ibrahima commented on #54
Ah OK, that still didn't resolve my issue, so I think my problem is unrelated to binstubs. I'll open a new issue then.

[2018-01-01 16:31] ibrahima opened #72 "Rails is not loaded in my spec_helper.rb"
I'm using simplecov with my rspec suite, so I want to eager load all my application code so that my coverage stats actually include all the code in my application. Knapsack worked fine before I added the eager loading to my spec_helper, but once I added this, my test suite crashes because Rails is not defined:

in `spec_helper.rb`

[code]

I get this error: `uninitialized constant Rails (NameError

[2018-01-01 18:02] ArturT commented on #72
If you use `rails_helper.rb` then `Rails` const should be available after you load Rails environment:

[code]

[2018-01-01 18:05] ibrahima commented on #72
Oh huh, good point! Wonder why it worked before, perhaps in the standard configuration it happens to load the app earlier anyway.

[2018-01-01 18:12] #72 closed

[2018-01-09 14:52] eddbrown opened #73 "Ignore some test"
Hey there!

You can selectively run some tests by specifying their directory, but is there a way to deselect some tests and keep the others?

Thanks!

[2018-01-09 22:23] ArturT commented on #73
You can pass arguments to test runner the same way as you do it right now by using just test runner alone.

https://github.com/ArturT/knapsack#passing-arguments-to-rake-task

For instance, you can use RSpec tags and tell the RSpec to skip some of them:

[code]

What problem do you want to solve?

---
NOTE: this issue is related to https://github.com/KnapsackPro/knapsack_pro-ruby/issues/57

[2018-01-23 22:04] #71 closed

[2018-02-02 01:25] Daniel-ltw opened #75 "Minitest failed with status (1)"
[code]

Is there something wrong here?

[2018-02-02 11:59] ArturT commented on #75
Hey @Daniel-ltw

Was the test suite executed? Did any test fail?

What version of minitest do you use? What version of Rails.

Maybe coverage report has an impact on exit code from minitest?

Do you have any non-standard configuration of minitest?

It looks like just minitest rake task failed,
https://github.com/ArturT/knapsack/blob/ad3e159d6724a89d4af936abdb66fd5d3c1cdd01/lib/knapsack/runners/min

[2018-02-04 20:47] Daniel-ltw commented on #75
I guess previously, we did not have that issue.

Will have a run with the verbose to see if that makes any difference.

[2018-02-06 23:03] Daniel-ltw commented on #75
I guess it is the test failures that is causing the problem, knapsack should have a way to handle Command failed with status (1)

Might need a rescue for that invoke and handle the error nicely?

[2018-02-22 01:57] Daniel-ltw commented on #75
After 20 days, I think this step is necessary to address this issue.

https://github.com/ArturT/knapsack/blob/master/lib/knapsack/runners/minitest_runner.rb#L28

Add a rescue StandardError after this or maybe the following:
https://github.com/seattlerb/minitest/blob/master/lib/minitest/test.rb#L19

This might be the appropriate way to deal with this.
In test failing scenario, the error should be h

[2018-02-23 12:05] ArturT commented on #75
Hey @Daniel-ltw, sorry for late reply, I was busy with work in recent weeks.

You are thinking about something like:

[code]

in order to reraise error from minitest so you will see in the output what actually failed inside of one of your minitest test files, right?

Right now the error output you added in the first post does not say much about what failed so you are hoping that by reraising error

[2018-02-25 21:52] Daniel-ltw commented on #75
@ArturT Could you try adding a failing test and see what does happen in your output?

[code]

My ruby version is 2.5.0 and minitest version is 5.10.2.

[2018-02-26 07:08] ArturT commented on #75
@Daniel-ltw What version of rails do you use?

[2018-02-26 08:41] Daniel-ltw commented on #75
Rails 5.1

[2018-02-27 17:28] paulmthiebauth opened #78 "Tests failing with Rails 5.2 RC1"
Currently upgrading an app from Rails 5.1 to Rails 5.2 RC1 and have started to run into some issues that don't exist on our primary/production branches. It appears that there are some issues with routes, as several tests are failing with `No route matches /whatever` although the routes are working fine (when looking at them in development environment), and Rails 5.1 branches pass these tests with

[2018-02-27 22:12] ArturT commented on #78
Hi @paulmthiebauth

Here you can see how minitest is run by knapsack https://github.com/ArturT/knapsack/blob/master/lib/knapsack/runners/minitest_runner.rb
Basically just the rake task is invoked.

Here is example rails app https://github.com/KnapsackPro/rails-app-with-knapsack
Could you try to upgrade to rails 5.2 and prepare example minitest test file that fails? Or you can prepare a new fresh r

[2018-02-27 22:14] ArturT commented on #78
There is actually rails5 branch here so you could use it https://github.com/KnapsackPro/rails-app-with-knapsack/commits/rails5}

[2018-02-27 22:35] paulmthiebauth commented on #78
@ArturT Thanks for getting back to me, I'll work on this ASAP

[2018-02-27 22:41] paulmthiebauth commented on #78
@ArturT Im trying to bundle install but need a value for this line...what should I use?

This is in Gemfile

```gem 'knapsack', path: ENV['KNAPSACK_REPO_PATH'] || '~/Documents/github/knapsack-pro/knapsack'```

[2018-02-27 22:45] ArturT commented on #78
Please clone the https://github.com/ArturT/knapsack and use path to the directory with your local copy of knapsack. You can export KNAPSACK_REPO_PATH=/home/yourlogin/Documents/knapsack

[2018-02-27 23:00] ArturT commented on #75
I was able to reproduce it. Actually, it's expected behavior. It's just extra info about rake task output and it does not affect how minitest works. All tests were executed. The minitest produces output info which tests failed. The final exit code from knapsack is 1 which indicates that test suite failed - that's expected.

The error you that can see:

[code]

is produced probably by the way how r

[2018-02-27 23:56] Daniel-ltw commented on #75
I guess in design, you are trying to focus on how knapsack should behave with

but test suite failure should not mean that knapsack has fail, or should it?
From a user perspective, knapsack ran fine with no issue. The failure is in the test, not within knapsack.

Anyway found this question from 2015
https://stackoverflow.com/questions/29966486/how-to-catch-rake-task-exit-status-in-another-rake-tas

[2018-02-28 00:20] ArturT commented on #75
test suite failure should mean the knapsack failed because we want to return exit code 1 so thanks to that the CI providers will know that test suite is failing.
The minitest exit code is also 1 when test suite is failing.

The question is: should I hide the exception from the minitest rake task to just make finally knapsack output nicer? I feel like I can by mistake hide too much. I'm not sure if

[2018-02-28 00:25] Daniel-ltw commented on #75
So in that case, we should not rescue StandardError which might encapsulate too many other errors.

[code]

Like the answer in the Stackoverflow post, that might be what we might be looking for?

[2018-03-03 17:26] ArturT commented on #75
The `SystemExit` is not a good option because the `RuntimeError` is raised instead.

The exception looks like:

[code]

I don't see an easy option to extract info about the exit code from the exception. The info is in a text message so I would have to parse it in order to know that the exit code is `1` or I could assume the exit code should always be `1` when something went wrong. I need to exit k

[2018-03-03 19:10] ArturT commented on #78
I've upgraded rails to 5.2.0.rc1 on master. Feel free to use current master branch to reproduce the problem.

[2018-03-15 15:09] arturopie commented on #48
Hi, I'm having a similar issue, but the tip does not work. Is the value of `KNAPSACK_TEST_DIR` supposed to be used as the `--default-path` option?

[2018-03-15 15:28] arturopie commented on #48
FYI, it works when I use `RUBYLIB=spec`

[2018-03-15 21:26] ArturT commented on #48
Hi @arturopie

Yes.

We exchanged emails before about [knapsack_pro](https://knapsackpro.com). The docs are here and you can set the test directory with your `spec_helper.rb` configuration with variable `KNAPSACK_PRO_TEST_DIR=spec` (note there is PRO in the name)
https://github.com/KnapsackPro/knapsack_pro-ruby#how-can-i-run-tests-from-multiple-directories

[2018-03-16 10:36] antonpaisov commented on #48
btw, I had that issue of not having `_PRO_` in the variable name after migrating on knapsack_pro and that have resulted in some part of the test suite not running for some time, maybe you can somehow add some check for proper variable names? :)

[2018-03-27 06:35] cobusbernard opened #79 "Parallel executing inside Docker"
Hi, we moved our app into Docker and are now running the tests inside the container via a compose file. Is it possible to still parallelize the execution? Currently we are doing something like: ```@docker-compose -f ./docker-compose.test.yml run -e RAILS_ENV=test platform bash -c "bundle exec rake db:create && bundle exec rake db:migrate && bundle exec rake knapsack:rspec```
Previously we were abl

[2018-03-27 07:10] ArturT commented on #79
Here is an example of CircleCI 2.0 configuration for parallelization: http://docs.knapsackpro.com/2017/circleci-2-0-capybara-feature-specs-selenium-webdriver-with-chrome-headless

[code]

If you manually define the knapsack command to run on each CI node ensure the CircleCI environment variables are exposed inside of the container or manually pass them.

for instance: `CI_NODE_TOTAL=2 CI_NODE_INDE

[2018-03-27 07:18] cobusbernard commented on #79
Thanks @ArturT. How would you use this with docker compose? I'm trying to run knapsack + rspec inside the container?

[2018-03-27 08:08] cobusbernard commented on #79
@ArturT: just tested and all I need to do is pass in the env var `CIRCLE_NODE_TOTAL` to the compose command and it uses the additional nodes. Going to close this issue now.

[2018-03-27 08:08] #79 closed

[2018-07-25 19:13] monfresh commented on #33
Hello. I found this issue because I'm seeing leftover specs, but the link to the explanation above doesn't work anymore. Where can I find the explanation? Thanks!

[2018-07-25 20:32] ArturT commented on #33
@monfresh Here is the link to explanation https://docs.knapsackpro.com/ruby/knapsack#what-does-leftover-specs-mean

[2018-09-13 11:18] egze commented on #73
I have a similar feature request.

My use case is this. We have the following structure:
[code]
Acceptance folder has capybara specs with Chrome and requires a certain setup and is run in a separate pipeline and docker container. All the other specs are splitted with knapsack and run in parallel.

We want to exclude `acceptance` folder completely, but can't do it with just a `KNAPSACK_TEST_FILE_PA

[2018-09-13 15:02] dbwest opened #81 "How can this be used with the Kubernetes Jenkins Plugin that dynamically creates Jenkins slaves"
I need to know if anyone has a documented solution for using this with the Kubernetes plugin for Jenkins.

[2018-09-13 15:21] ArturT commented on #81
The only example about Jenkins I have from one of the customers. You can take a look at this:
https://github.com/KnapsackPro/knapsack_pro-ruby#info-for-jenkins-users

[2018-09-19 22:12] rubendinho opened #82 "`uninitialized constant ActiveSupport` with Minitest runner"
Hi -

I'm getting the below error running `bundle exec rake knapsack:minitest` in both my CI and development environments:

[code]

I am on Rails 5.2.1, knapsack 1.16.0 and Ruby 2.5.1.

Here is my Minitest configuration:
[code]

I am not running into any problems with the Rspec runner.

[2018-09-20 15:50] ArturT commented on #82
I was trying to reproduce this problem and I'm not able. Maybe it's specific to your project or the order of loading files by your project. I guess somehow Rails environment was not loaded properly.

https://github.com/KnapsackPro/rails-app-with-knapsack/pull/8

Here is test_helper.rb from example rails project https://github.com/KnapsackPro/rails-app-with-knapsack/blob/master/test/test_helper.rb

[2018-11-07 21:50] ArturT commented on #73
The exclude pattern is now available in Knapsack Pro version:
https://github.com/KnapsackPro/knapsack_pro-ruby#how-to-exclude-tests-from-running-them

[2018-11-21 18:30] andreleoni opened #84 "send complete test coverage report from circleCI building specs to codeclimate"
Hello, I want to send my complete test coverate report to codeclimate, but with knapsak, the tests are splitted, and the report is not complete.

Hava anyway to resolve this problem? :thinking:

[2018-11-21 22:14] ArturT commented on #84
Here you will find a link to CodeClimate resources that might be useful
https://github.com/KnapsackPro/knapsack_pro-ruby#how-to-use-codeclimate-with-knapsack_pro

[2018-11-22 11:41] andreleoni commented on #84
I will test, but I that is it!!!!!

Many many many thannks man!!

[2018-11-22 11:41] #84 closed

[2018-11-22 13:07] ArturT commented on #84
@andreleoni If you have a larger project with long test suite you may find this useful what problems can be solved with dynamic test suite split: https://youtu.be/hUEB1XDKEFY

I also added support for Cypress test runner in javascript:
https://docs.knapsackpro.com/2018/run-javascript-e2e-tests-faster-with-cypress-on-parallel-ci-nodes

[2018-12-04 14:46] 2rba opened #85 "Knapsack does handle signals"
When i start knapsack rake task `rake knapsack:rspec`and finish it via ctrl-c capybara webserver is not terminated properly

[2018-12-04 21:51] #85 closed

[2018-12-18 07:56] flavono123 opened #87 "Generate report on minitest"
I've got following errors:
[code]

It seemed there is no creating the report file at the first time, just open/write it, in codes. But this doc says like it should be created:
https://docs.knapsackpro.com/ruby/knapsack#common-step

Is it gonna fixed?

I solved this problem with creating an empty json report file manually

[2018-12-18 08:16] ArturT commented on #87
What version of Ruby, Ruby on Rails, minitest do you use?

[code]

Have you set config at the top:

Add at the beginning of your test_helper.rb:

[code]

https://docs.knapsackpro.com/ruby/knapsack#step-for-minitest

BTW How long is your test suite? What CI provider do you use?

[2018-12-18 08:34] flavono123 commented on #87
Ruby - 2.5.3
Rails - 5.2.1

I already added that config codes on my test helper.

And the command you suggested is exactly same with mine:
`KNAPSACK_GENERATE_REPORT=true bundle exec rake knapsack:minitest`

I use Travis CI and the test suit takes about 15 minutes.
The errors are occurred in my local.

[2018-12-18 08:50] ArturT commented on #87
I have exactly the same versions of dependencies as you do and it works. You can compare your files with mine https://github.com/KnapsackPro/rails-app-with-knapsack/blob/master/test/test_helper.rb

I can try to reproduce error later evening when I will get back home. Maybe there is some other difference in your project that cause this problem :/

or you can try https://knapsackpro.com/ (article ht

[2018-12-18 12:12] flavono123 commented on #87
Sorry for that I can show the codes to you since it is my company's property 😅
But the call stacks are followed I think:
[code]

It seems try to open before create a report file right?

[2018-12-18 12:37] ArturT commented on #87
Actually, the command you should run for the very first time should be `KNAPSACK_GENERATE_REPORT=true bundle exec rake test`. I will update the docs later.

Or if still does not work then try to create `knapsack_minitest_report.json` file with this content:

[code]

[2018-12-18 16:11] flavono123 commented on #87
Got it. `KNAPSACK_GENERATE_REPORT=true bundle exec rake test` not `knapsack:minitest` for the first time. It works

Hope that the docs gonna be clearer. ☺️  Thanks.

[2018-12-18 16:11] #87 closed

[2018-12-18 20:44] ArturT commented on #87
@flavono123 Thanks for reporting the issue. I've just fixed docs.

[2019-02-14 14:52] adis-io commented on #70
I don't know, may be somebody already asked about it.
Here is the question, my whole test suit takes huge amount of time. But with parallel_tests (6 cores) it takes about - 30 min. Can I use parallel_tests to generate report?

[2019-02-14 15:07] ArturT commented on #70
@adis-io Here is an example how to run [knapsack_pro](https://knapsackpro.com) with parallel_tests gem https://github.com/KnapsackPro/knapsack_pro-ruby#how-to-run-knapsack_pro-with-parallel_tests-gem

[2019-04-26 08:45] ArturT commented on #70
I added one more example of how to use paralell_tests with knapsack_pro Queue Mode to utilize machine resource on a single CI machine.

https://github.com/KnapsackPro/knapsack_pro-ruby#parallel_tests-with-knapsack_pro-on-single-ci-machine

There are bash scripts that can be reused.

[2019-04-26 08:45] #70 closed

[2019-05-03 10:23] kaoru opened #88 "All tests run when no spec files are found"
I'm trying to split my tests into two runs, one which runs the the system tests and one which runs the rest.

I'm implementing that with:

[code]

The problem I've run into is that when there are no system tests that are scheduled to run on that node, it runs ***all the tests*** 😅

[code]

I'd like it to run none of the tests, and exit with success.

Is that a bug in knapsack or in rspec, or is it

[2019-05-03 15:32] ArturT commented on #88
When you pass no tests to RSpec via knapsack then RSpec runs the whole test suite.

I use [under the hood `Dir.glob` to find test files](https://github.com/ArturT/knapsack/blob/master/lib/knapsack/distributors/base_distributor.rb#L40) and then [pass them to RSpec](https://github.com/ArturT/knapsack/blob/master/lib/knapsack/runners/rspec_runner.rb#L15).

Why do you want to run pattern for non-exist

[2019-05-11 11:14] kaoru commented on #88
Hey Artur,

I'm using Heroku CI with Knapsack spreading the load across 16 nodes. I wanted to to run my system tests separately so I did this:

[code]

But on two of the nodes the second run found no spec files, and so it ended up running the full test suite on those nodes :joy:

I've "fixed" this by splitting it into non-feature-or-system-tests and feature-and-system-tests, which makes it so that

[2019-05-11 11:23] ArturT commented on #88
Thanks for sharing your solution. You may want to check this article about Heroku CI setup for knapsack_pro gem:
https://docs.knapsackpro.com/2018/how-to-run-parallel-dynos-on-heroku-ci-to-complete-tests-faster

This video explains how Queue Mode in knapsack_pro does dynamic split tests across parallel nodes to ensure all nodes finish work at a similar time to get the fastest CI build time. https:

[2019-05-11 11:23] #88 closed

[2019-06-11 20:04] abhitrivedi opened #89 "cucumber runner exits with non-zero code even though tests passed"
Hi. Im running v1.17.1 on Ruby 2.6.3 and Rails 5.2.3.

While running rake knapsack:cucumber, I get the following warning-like output after tests have completed successfully, and the command exists with a non-zero code. Naturally the non-zero code fails CI even though all tests passed.

[code]

[2019-06-11 20:41] ArturT commented on #89
What version of cucumber do you use? What is your CI server?
Do you pass any additional arguments to knapsack cucumber command? Can you share how do you run it (what's the command you typed)? Thanks.

[2019-06-11 23:06] abhitrivedi commented on #89
Cucumber version: 2.99.0
Cucumber-rails version: 1.4.0
Command: `bundle exec rake knapsack:cucumber`
ENV vars: `CI_NODE_TOTAL=4 CI_NODE_INDEX=0`
CI: Travis CI (although this is also reproducible locally)

[2019-06-11 23:07] abhitrivedi commented on #89
I also tried `bundle exec knapsack cucumber` but got the same non-zero code (1).

[2019-06-12 06:24] ArturT commented on #89
Here is example how knapsack executes cucumber:
https://github.com/ArturT/knapsack/blob/01cedac27e437b445bee2765a87cbbe53f458193/lib/knapsack/runners/cucumber_runner.rb#L15

Maybe this line messed up something for older Cucumber 2.99:
https://github.com/ArturT/knapsack/blob/01cedac27e437b445bee2765a87cbbe53f458193/lib/knapsack/runners/cucumber_runner.rb#L18

I have a project with cucumber test sui

[2019-06-14 14:41] ArturT commented on #89
I've just noticed what's wrong. The output you shared says:

[code]

So cucumber command failed because did not understand `--require` argument. It seems `--require` works only for Cucumber >= 3. I will try to see how to run tests in older Cucumber 2.x and make a fix.

[2019-06-14 15:33] ArturT commented on #89
Cucumber 2.99 has `--require` argument so this is not error from cucumber.

Now I noticed that it's the error from minitest gem. Cucumber does not depend on minitest. I don't require minitest in the knapsack during load time. For some weird reason minitest is loaded when you run Cucumber and minitest breaks :/ I'm not sure what's the root problem yet.

[code]

I had a problem to downgrade cucumber

[2019-06-14 15:48] ArturT commented on #89
I googled fix.

You can add this in file `features/support/env.rb`.

[code]

The solution from: https://github.com/cucumber/multi_test/pull/2#issuecomment-21863459

Related issue: https://github.com/cucumber/cucumber-rails/issues/252

[2019-06-14 15:58] ArturT commented on #89
@abhitrivedi I've edited above example. We need to disable autorun for minitest after we load cucumber/rails.

[2019-06-14 16:21] abhitrivedi commented on #89
@ArturT thanks for that in-depth analysis. I'll try that out and update you.

[2019-06-14 22:02] abhitrivedi commented on #89
That worked!
We can't upgrade cucumber-rails right now due to an interna dependency, but i've notified the teams about this issue so hopefully we can upgrade soon. Thanks @ArturT for your help.

[2019-06-14 22:05] ArturT commented on #89
@abhitrivedi Great! BTW Have you got my email today? We can also talk over LinkedIn. I've sent you an invitation.

[2019-06-14 22:05] #89 closed

[2019-06-14 22:15] ArturT commented on #89
I've updated FAQ: https://github.com/KnapsackPro/knapsack_pro-ruby#why-green-test-suite-for-cucumber-299-tests-always-fails-with-invalid-option---require

[2019-08-01 09:41] Hirurg103 opened #91 "Some cucumber test files run via several CI jobs"
System configuration:

**rails**: 5.2.0
**cucumber**: 3.1.2
**cucumber-rails**: 1.6.0
**knapsack**: 1.17.1

I am running my cucumber features on Gitlab CI with knapsack. I noticed that some cucumber features are running via several CI jobs and in the result they are running two or more times.

I set `CI_NODE_INDEX` and `CI_NODE_TOTAL` in the before script

[code]

In out Gitlab CI job I see the fo

[2019-08-01 10:13] Hirurg103 commented on #91
Just an assumption regarding this issue:

Maybe when Gitlab CI job clones the project the order of cucumber files in the filesystem is different on different CI nodes and knapsack calculates tests for current CI node based on the order of files in the filesystem that's why I encounter this issue

[2019-08-01 10:18] ArturT commented on #91
Different file systems could return test files in a different order. I fixed that a while ago
https://github.com/ArturT/knapsack/issues/8
https://github.com/ArturT/knapsack/blob/fdf10119a7707110dfe1525326d4b28fb5055778/CHANGELOG.md#102

I need to think about what's wrong here. :/

In the meantime, you can also check knapsack_pro queue mode for Cucumber (I added support for Queue Mode in Cucumber r

[2019-08-01 14:50] Hirurg103 commented on #91
Hi @ArturT ,

I've just found found out that this problem is caused by jobs concurrency in my Gitlab CI configuration:

1. Job 1 downloads `knapsack_cucumber_report.json`
2. Job 1 runs tests
3. Job 1 updates `knapsack_cucumber_report.json`
4. Job 2 downloads `knapsack_cucumber_report.json`
5. Job 2 runs tests with changed `knapsack_cucumber_report.json`

Because Job 1 and Job 2 run tests with diff

[2019-08-01 14:50] #91 closed

[2019-08-01 19:33] ArturT commented on #91
@Hirurg103 If this will help you I can set for you free plan for knapsack pro for the time of maintenance state so you don't have to waste time on fixing the problem. Feel free to sign up https://knapsackpro.com/

[2019-08-02 14:11] Hirurg103 commented on #91
@ArturT for now knapsack gem fully meets our needs. Thank you for making this gem!

[2019-12-10 18:13] evandam opened #93 "Knapsack not generating report for rspec"
I'm running knapsack through Docker, and I cannot seem to generate new reports.

I'm running `docker-compose run -e KNAPSACK_GENERATE_REPORT=true rails bundle exec rake "knapsack:rspec[...]"`, but the `knapsack_rspec_report.json` is not updated or generated after tests complete.

I would like to be able to generate a report for each parallel job and aggregate them afterwards, but if that is not po

[2019-12-10 23:16] evandam commented on #93
Closing out since this was an issue on my end. `Knapsack::Adapters::RSpecAdapter.bind` was not being run.

[2019-12-10 23:16] #93 closed

[2019-12-11 00:52] ArturT commented on #93
Hi @evandam , what CI server do you use?

You can also check this video showing how to split tests in a dynamic way with Queue Mode
https://youtu.be/hUEB1XDKEFY to track all tests, all branches and commits.

[2019-12-11 01:41] evandam commented on #93
Hey @ArturT, I'm using Buildkite but using the regular Knapsack gem, not the pro version.

[2019-12-11 23:01] ArturT commented on #93
I've sent you a LinkedIn invitation, we could talk there :)

[2019-12-16 22:06] erikthered opened #94 "Knapsack report not found by one job on GitLab CI"
I'm having a weird issue where one job on GitLab CI throws the error `Knapsack report file knapsack_rspec_report.json doesn't exist. Please generate report first!`. The other jobs execute fine. I've tried regenerating the report as well as changing the parallel value (have tried 6 and 8), but the issue still persists.

I'm using knapsack (non-pro) 1.18.0, along with Ruby 2.3, Rails 3 and RSpec 3.5

[2019-12-16 22:48] ArturT commented on #94
Do you have `knapsack_rspec_report.json` committed into your repo?

What is the knapsack command to run tests defined in GitLab CI yaml config?
Can you share the GitLab CI config?

BTW How long it takes to run your tests now?

[2019-12-17 00:40] erikthered commented on #94
Yes, I have the json report committed. The command I'm using is `bundle exec rake "knapsack:rspec[--tag ~flaky --tag ~broken]"`. The full suite takes about 120 minutes in serial, but split on GitLab CI it's about 20-25 minutes per job.

I'll obfuscate some of the company specific details in the GitLab yaml and share in a follow-up comment.

[2019-12-17 00:43] erikthered commented on #94
[code]

[2019-12-17 00:44] erikthered commented on #94
I just re-ran the tests using the seed from a failed job and the appropriate CI NODE env vars and I think one of our tests deleted the json file. I'll follow up if that is indeed the case.

[2019-12-17 00:53] erikthered commented on #94
Yep, we had some spec that was deleting all json files in the project root. ugh.

[2019-12-17 00:53] #94 closed

[2020-05-05 11:12] IanVaughan opened #95 "Hide Knapsack Time Offset Warning block?"
Having the following block print on after each test run (using guard) is quite intrusive.
Is there a way to hide it?
[code]

[2020-05-05 11:36] ArturT commented on #95
Hey @IanVaughan

You can try this

[code]

https://docs.knapsackpro.com/ruby/knapsack#custom-configuration

You can also check out `knapsack_pro` gem that has a free plan to split tests in a dynamic way across parallel CI nodes to ensure all nodes finish work at a similar time (this way CI build time is as fast as possible). See the last video here about Queue Mode https://docs.knapsackpro.com/202

[2020-05-05 11:36] #95 closed

[2020-05-06 02:01] jhirn commented on #48
Hi. I'm not really sure from the examples how to do this. I have an integration suite in `integration/features` which all have their `require spec_helper`. I've changed this to require_relative `../../spec/spec_helper` which appears to start loading the spec_helper, but then require fails inside of the spec for things relative to that. For example, requiring files in `spec/support`.

 Here is the

[2020-05-06 07:25] ArturT commented on #48
Hi @jhirn

Is your `spec_helper.rb` and `rails_helper.rb` in `spec` directory? Do you want to load it?

Or do you have separate `spec_helper.rb` and `rails_helper.rb` inside of `integration` directory? (I assume you have spec and integration on the same directory level (the integration directory is NOT inside of spec directory, right?)

Note `KNAPSACK_TEST_DIR` must point to a directory with `spec

[2020-05-06 14:09] jhirn commented on #48
Hey @ArturT ,

Thanks getting back to me.

So I was able to get this working with the command you suggested and by creating `integration/spec_helper.rb` and adding to it `require_relative '../spec/spec_helper`. I ended up having to change a few `require`s in there to `require_relative` but only for local files. It's running locally to time to push up and see what circle says.

Again, really apprec

[2020-05-06 14:34] ArturT commented on #48
@jhirn I'm glad you managed to solve the problem.

There is already info in the readme about spec_helper had to be in `KNAPSACK_TEST_DIR`. :)
https://docs.knapsackpro.com/ruby/knapsack#how-can-i-run-tests-from-multiple-directories

[2020-05-20 10:21] caalberts opened #96 "Feature Request: Prioritise spec files"
Hi, I'd like to know if you'd be open to adding a feature that allows users to prioritise certain spec files.

This can be used to run test files for classes or modules that have recently changed first. so any failure in these can be reported early, before continuing with the rest of the suite which may be less likely to fail.

It looks like it is quite straight forward to add this by prepending t

[2020-05-20 17:57] ArturT commented on #96
Hi @caalberts

How would you detect what tests should be run? Maybe by using some kind of code coverage tool?

Would some other tool provide the list of tests that should be run first or Gitlab already does that?

knapsack could take a list of tests in ENV and run it first.

Something like that would be already possible in knapsack_pro:

You could do it in 2 steps:

Step 1. Run c tests for classes

[2020-10-29 00:20] prostko opened #98 "Load Balancing Algorithm doesn't consider weight of nodes"
It seems that this is the current algorithm used to assign specs to nodes:
[Round Robin](https://www.nginx.com/resources/glossary/round-robin-load-balancing/)
1. sorts the spec list by execution time (weight)
2. iterates over the spec list and assigns each of the nodes the current spec by index

-------
This can be optimized by:
[Least Connections Algorithm](https://docs.citrix.com/en-us/citrix-ad

[2020-10-29 00:21] prostko commented on #98
Also, thanks a lot! Love the project!

More than happy to submit a PR if this is interesting

[2020-10-30 21:12] ArturT commented on #98
Hi @prostko

Sounds like an interesting idea.

If you would like to work on this you can take a look at
`Knapsack::Distributors::ReportDistributor` takes care of sorting test files with known time execution (test files in JSON report).
https://github.com/ArturT/knapsack/blob/387181ed7a459557770514c676771eff27dc3e1f/lib/knapsack/allocator.rb#L8
https://github.com/ArturT/knapsack/blob/387181ed7a4595

[2021-03-03 05:31] tnir opened #102 ".rspec config looks ignored even in Regular Mode"
`.rspec` config looks ignored even in Regular Mode (with knapsack_pro Gem, or with knapsack Gem) while `knapsack_pro` gem docs shows (only) Queue Mode ignore `.rspec` config: https://github.com/KnapsackPro/knapsack_pro-ruby/commit/321de44d51b438a250a57575e79de90ca0d33ec4

[2021-03-03 09:22] ArturT commented on #102
Hi @tnir

`knapsack_pro` gem in [Regular Mode uses a rake task to start RSpec](https://github.com/KnapsackPro/knapsack_pro-ruby/blob/f8f315010bf7683d7965efdc5272e53a2f53e137/lib/knapsack_pro/runners/rspec_runner.rb#L21,L28) process. RSpec reads `.rspec` file. I've just tested it now to double check and I confirm the `.rspec` flags are respected for RSpec in knapsack_pro Regular Mode.

In knapsack_

[2021-03-03 09:22] #102 closed

[2021-04-14 10:03] caalberts opened #106 "Knapsack::Adapters::RSpecAdapter does not track time spent in `before` or `after` `:context`"
Hi. In our project, we found that `Knapsack::Adapters::RSpecAdapter` does not track time spent in `before` or `after` `:context`.

Because of this, the distribution of the parallel job duration becomes uneven as the jobs that have the tests with longer set up time will take longer than the average.

Is this intended?

[2021-04-14 10:12] ArturT commented on #106
I recall a similar thing was already fixed in `knapsack_pro` ruby gem.

Related PRs:

* https://github.com/KnapsackPro/knapsack_pro-ruby/pull/62
* https://github.com/KnapsackPro/knapsack_pro-ruby/pull/52

You can learn how Knapsack Pro Queue Mode can help you save more time:
https://docs.knapsackpro.com/2020/how-to-speed-up-ruby-and-javascript-tests-with-ci-parallelisation

If you like to improve

[2021-04-15 03:19] caalberts commented on #106
Thanks for clarifying @ArturT. We have done a patch in https://gitlab.com/gitlab-org/gitlab/-/merge_requests/58980.

I'll port it over into a PR for you to review.

[2021-04-15 09:05] caalberts commented on #106
I realized I wasn't very clear in the title and earlier comment that this is referring to `before(:context)` and `after(:context)`.

[2021-04-15 12:49] #106 closed

[2021-04-15 15:17] ArturT opened #108 "Time execution for pending test file can't be measured due to exception"
When generating a JSON report for a pending spec file then knapsack gem crashes.

Here is a project we use for development purpose:
https://github.com/KnapsackPro/rails-app-with-knapsack
It has a pending spec file: https://github.com/KnapsackPro/rails-app-with-knapsack/commit/586ce8104966b60a456dd62a49b3b2c0a64c050a

[code]

The crash happens because the test file path was not set.

[code]

source

[2021-04-15 15:47] ArturT commented on #108
This is fixed and knapsack 1.21.1 was released.

[2021-04-15 15:47] #108 closed

[2021-04-27 10:42] tnir commented on #102
@ArturT Thanks!

[2022-01-11 01:43] juggy opened #118 "Cucumber split by scenario and not feature"
I created a report for my cucumber tests and it was broken down to the feature and not the scenario.

When running the tests in parallel, There seem to be a big difference between the fastest running node (14m) vs the slowest (35m). I think this is because some features are really big and some are not that much and since the splitting occurs on a feature level, it fails to split them correctly. Th

[2022-01-18 19:12] ArturT commented on #118
Tests are split based on the test file paths in the knapsack gem.

In the case of [RSpec, it's possible to split based on test cases](https://knapsackpro.com/faq/question/how-to-split-slow-rspec-test-files-by-test-examples-by-individual-it) in knapsack_pro gem.

For Cucumber it's not possible yet. I'm not sure if Cucumber allows running individual test cases (a single scenario) from a given test f

[2022-01-26 17:43] robertwe commented on #73
@ArturT what with the support for path exclusion in free version of the Knapsack?

[2022-01-26 18:04] ArturT commented on #73
Hi @robertwe

We are focused on improving the knapsack_pro gem. Support from our users is the way to ensure we provide maintenance of the project in the long run. knapsack_pro gem offers superior functionality, here are some examples for excluding patterns:

* https://knapsackpro.com/faq/question/how-to-exclude-tests-from-running-them
* https://knapsackpro.com/faq/question/dir-glob-pattern-example

[2022-01-27 18:20] jb08 opened #119 "how often to update knapsack_minitest_report.json timings report"
There is no need to regenerate the report every time when you add/remove test file. If you remove a test file then Knapsack will ignore its entry in report. In case when you add a new file and it doesn’t already exist in report, the test file will be assigned to one of the CI node.
You’ll want to regenerate your execution report whenever you remove or add a test file with a long time execution tim

[2022-01-27 19:25] ArturT commented on #119
Hi @jb08

This sounds like a flaky tests problem not related to the knapsack.

You can ensure you have set `RAILS_ENV=test` on CI.

In what type of tests do you see an error `ActiveRecord::RecordNotFound`. Is it capybara tests or some unit tests?

Are all flaky tests with the same issue `ActiveRecord::RecordNotFound`?

It could be possible that order of running tests leads to the flaky tests in yo

[2022-01-27 19:53] jb08 commented on #119
hi @ArturT, thanks for the quick response!

Agree with your assessment of "different tests distribution (different order of tests execution) so that flaky tests were revealed". These failures were in minitest unit tests.

Believe each node has its own db, and we're presently not parallelizing processes within a node to improve CI failure reproducibility locally, but I will verify this configuratio

[2022-01-27 21:10] ArturT commented on #119
Let me know about your findings.

If you go try knapsack_pro gem you can reach support any time https://knapsackpro.com/contact
I talked with someone from your team last year so you already have a work account. Cheers!

[2022-10-12 23:01] david-fluxster commented on #78
Heya. Did anyone find an explanation for this? I am experiencing the same thing using Rails 6 and Rspec

[2022-10-13 21:30] ArturT commented on #78
The example project uses Rails 6
https://github.com/KnapsackPro/rails-app-with-knapsack

@david-fluxster Did you upgrade to Rails 6 recently? Or do you set up the knapsack gem for the first time?

[2022-10-28 13:39] ArturT commented on #98
I'm closing this issue because https://github.com/KnapsackPro/knapsack/pull/99 was merged.

[2022-10-28 13:39] #98 closed

[2022-10-28 13:51] ArturT commented on #58
Regarding the stripe error:

[code]

You can set the environment variable:

[code]

It should fix it. More about this problem:
https://knapsackpro.com/faq/question/how-to-solve-error-cannot-load-such-file-stripe_mock-loaderror-when-running-tests-with-cucumber

[2022-10-28 13:54] ArturT commented on #58
This issue is about the CircleCI 1.0 YML config syntax. It's deprecated.

The CircleCI 2.0 YML config example can be found here:
https://docs.knapsackpro.com/ruby/knapsack#info-for-circleci-users

I'm closing this issue.

[2022-10-28 13:54] #58 closed

[2022-10-28 14:05] ArturT commented on #82
Please make sure you added the following line at the top of the `test/models/article_test.rb` file.

[code]

[2022-10-28 14:08] ArturT commented on #82
I'm closing this for now. Please reopen if you need more help.

[2022-10-28 14:08] #82 closed

[2022-10-28 14:13] ArturT commented on #119
There was no activity on this issue for a long time. I'm closing it. Please reopen if you need more help.

[2022-10-28 14:13] #119 closed

[2022-10-28 15:05] ArturT commented on #75
I reviewed it again, and I don't see an action point here. If there is any new information we should consider, please share it.

There was no activity here, so I'm closing this issue for now.

[2022-10-28 15:05] #75 closed

[2022-10-28 15:15] ArturT commented on #66
Pretty old issue, I guess no action here for now. I'm closing it. Feel free to reopen or add more information if you need help.

[2022-10-28 15:15] #66 closed

[2022-11-08 03:17] qileilove commented on #73
is anything updated on this topic?

[2022-11-08 14:54] ArturT commented on #73
@qileilove Could you share more about your project and what kind of tests you need to ignore? Feel free to email me at support https://knapsackpro.com/contact if you don't want to share it publicly.